

.message_label {
    margin: 20px auto;
    font-size: larger;
}

.view {
    margin: 20px auto;
    border-radius: 10px;
    height: 400px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.data_input_buttons {
    display: flex;
    width: fit-content;
    margin: 20px auto;

}


.submit_data_button {
    width: 100px;
    margin: 10px;
}

.start_button {
    width: 100px;
    margin: 10px;
}


.input_table {
    width: fit-content;
    margin: 0 auto;
}



.choose_starting_edge_popup {
    position: relative;
    margin: 100px auto;
    padding: 30px;
    width: 600px;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal_container {
    width: 100%;
    margin: 0 auto;
}

.number_input {
    display: block;
    width: fit-content;
    margin: 10px auto;
}

.modal_text_container {
    width: fit-content;
    margin: 0 auto;
}

.modal_button {
    display: block;
    width: 150px;
    margin: 10px auto;
}

.close_modal_button {
    display: block;
    width: 100px;
    margin: 0 0 0 auto;
}
